*.project
*.classpath
*.class
*.log
**/.gradle/
**/.settings/
**/bin
**/build
**/temp/
**/.vscode
*.DS_Store
**/node_modules

**/security2.properties
**/jdbc.properties
**/package.json
**/node_modules


!build.gradle
